.login-image{
    width:100vw;
    background-image: url("../../../Assets/images/background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* filter:blur(1px) */
}
.Login-Container{
  width:100vw;
  height:100vh;
  position:fixed;
  top: 0px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Login{
    font-family: poppins;
    /* border:3px solid black;
  background: rgba(10, 10, 10, 0.609);
  box-shadow: 0 0 30px black;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); */
  border-radius: 10px;
  padding:10px 20px;
  position: relative;
  /* width:35vw; */
  /* max-height:400px; */
  /* height: 400px; */
  background-color: rgb(85, 73, 251);
}
/* form{
 position: relative;
} */
.user-div>i{
  margin-top:10px!important;
  margin-bottom: 0px!important;
  /* border:2px solid red; */
  padding: 0px!important;
  font-size: 100px;
  width:100%;
  height: 100%;
  color: white;
  text-align: center;
}
.s-user-div>i{
  margin-top:10px!important;
  margin-bottom: 0px!important;
  /* border:2px solid red; */
  padding: 0px!important;
  /* font-size:60px; */
  /* width:100%; */
  /* height: 100%; */
  color:rgb(85, 73, 251);
  text-align: center;
}
.s-user-div{
  /* border: 2px solid red; */
  width:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding:20px 20px 20px 20px;
  border-radius: 50%;
  background-color: white;
  margin-left: 50%;
  transform: translate(-50%);
}
.s-user-div>i{
  /* margin-top:10px!important; */
  margin-bottom: 0px!important;
  /* border:2px solid red; */
  padding: 0px!important;
  font-size:70px;
  /* width:100%;
  height: 100%; */
  color: white;
  text-align: center;
  margin-left: 15px;
  color: rgb(85, 73, 251);
}

.Login-text{
    color:rgb(85, 73, 251);
    text-align: center;
    font-family: poppins;
}
form{
  margin-top: 20px;
}
.division_1{
    width:95%;
    margin:30px auto 0px auto;
    height: 30px;
    border-bottom:2px solid white;
    transition:border-bottom 1s;
    display: flex;
    padding:0px!important;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
  }
  
  .division_1:focus-within{
    /* border-bottom:2px solid red */
  }
  .division_2>div>i,.division_1>div>i,.division_3>div>i,.division_4>div>i,.division_5>div>i{
    width:20px;
    /* border:2px solid red; */
    text-align: end;
    /* padding:0px 5px 0px 0px */
    margin-right: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
   vertical-align: bottom;
  }
/*   
  .division_1:focus-within{
    border-bottom:2px solid red
  } */
  .division_2>i,.division_5>i{
    font-size: 18px;
    /* color:rgb(255, 255, 255); */
     padding-left: 10px;
     color: rgb(255, 255, 255);
     cursor: pointer;
  }
  .division_2{
    width:95%;
    margin:auto;
    height: 30px;
    border-bottom:2px solid white;
    transition:border-bottom 1s;
    display: flex;
    margin-top: 50px;
  }
  
  .division_2:focus-within{
    /* border-bottom:2px solid red */
  }
  .division_3{
    width:95%;
    margin:auto;
    height: 30px;
    border-bottom:2px solid white;
    transition:border-bottom 1s;
    display: flex;
    margin-top: 20px;
    /* margin-top: 30px; */
  }
  .division_3>input{
    width:350px!important;
    /* border:2px solid red; */
  }
  .division_3:focus-within{
    /* border-bottom:2px solid red */
  }
  .division_4{
    width:95%;
    margin:auto;
    height: 30px;
    border-bottom:2px solid white;
    transition:border-bottom 1s;
    display: flex;
  }
  
  .division_4:focus-within{
    /* border-bottom:2px solid red */
  }
  .division_5{
    width:95%;
    margin:auto;
    height: 30px;
    border-bottom:2px solid white;
    transition:border-bottom 1s;
    display: flex;
  }
  
  .division_5:focus-within{
    /* border-bottom:2px solid red */
  }
  
.input{
    outline:none;
    border:none ;
    width: 100%;
    color: white;
    background-color:transparent;
    -webkit-tap-highlight-color: none; 
    font-family: poppins-500; 
    font-size: 16px;
    width:300px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    caret-color: white;
}

input:focus{
  outline:none;
  background-color: transparent;
}

.input::placeholder {
    /* color: rgba(0, 255, 34, 0.575); */
    /* color:skyblue; */
    color:rgba(238, 238, 238, 0.678);
    font-size:14px;
    font-family: poppins-500;
    /* font-weight: bold; */
  }

  .Submitbutton{
      border:none;
      /* background:linear-gradient(rgb(43, 255, 43),rgb(3, 134, 3)); */
      border-radius: 10px; 
      cursor: pointer;
      outline:none;
      background-color: white;
      color:rgb(58, 58, 255);
      font-family: poppins;
      /* box-shadow: 0 0 6px black; */
      padding:2px 10px;
      margin-bottom: 20px;
  }
  .Submitbutton:disabled{
    /* background-color:rgba(9, 238, 59, 0.548) ; */
  }

  .ExitButton{
    cursor: pointer;
    position:absolute;
    right:7px;
    /* top:-35px; */
    padding:0px 7px 4px 7px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    /* border: 2px solid red; */
  }
 .new-user{
   display: flex;
   /* border:2px solid red; */
   font-family: poppins-500;
   text-align: center;
   justify-content: center;
   margin-top: 30px;
   color:rgb(46, 46, 46)
 }

  .Register{
    font-family: poppins;
    color:rgba(0, 38, 255, 0.733);
    cursor: pointer;
    font-size: 22px;
    /* border:2px solid red; */
    margin-left: 10px!important;
    padding: 0px !important;
  }
@media only screen and (max-width:600px){
    .Login{
      font-family: poppins;
      /* border:3px solid black;
      background: rgba(10, 10, 10, 0.609);
      box-shadow: 0 0 30px black;
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px); */
      border-radius: 10px;
      padding:10px 20px;
      width:60vw;
      max-height:400px;
      height: 400px;
  }
  .division_1{
    width:100%;
    margin:auto;
    height: 30px;
    border-bottom:4px solid white;
    transition:border-bottom 1s;
  }
  .division_2{
    width:100%;
    margin:auto;
    height: 30px;
    border-bottom:4px solid white;
    transition:border-bottom 1s;
  }
  .division_3{
    width:100%;
    margin:auto;
    height: 30px;
    border-bottom:4px solid white;
    transition:border-bottom 1s;
  }
  .division_4{
    width:100%;
    margin:auto;
    height: 30px;
    border-bottom:4px solid white;
    transition:border-bottom 1s;
  }
  .division_5{
    width:100%;
    margin:auto;
    height: 30px;
    border-bottom:4px solid white;
    transition:border-bottom 1s;
  }
}
.error{
  color: rgba(255, 19, 19, 0.76);
  font-family: poppins;
  text-align: center;
}